
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../login/fondo.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 500px;
margin-top: 40px;
margin-bottom: auto;
width: 500px;

}

.centrar{
    margin-top: 20px;
    margin-left: 100px;
}

.btnTest{
    margin-left: 20px;
    margin-top: 30px;
}

.container-p11{
    height: 210px;
    width: 310px;;
    margin-top: 50px;
    margin-left: 60px;
}

.container-p12{
    height: 210px;
    width: 310px;;
    margin-top: 30px;
    margin-left: 60px;
}
.container-p13{
    height: 200px;
    width: 400px;;
    margin-top: 0px;
    margin-left: 30px;
}



.btnTest2{
    margin-left: 5px;
    margin-top: 5px;
}

.container-p21{
    height: 150px;
    width: 250px;;
    margin-top: 80px;
    margin-left: 120px;
}

.container-p22{
    height: 100x;
    width: 350px;;
    margin-top: 20px;
    margin-left: 65px;
}

.container-p31{
    height: 40x;
    width: 100px;;
    margin-top: 100px;
    margin-left: 200px;
}

.container-p312{
    height: 40x;
    width: 400px;
    margin-top: 20px;
    margin-left: 105px;
}