{% extends 'prueba/baseTest.html' %}
{%load static %}
{% block contentidoTest %}

<div class="card-header">
    <h3>Prueba de Audio</h3>
    </div>
        <div class="card-body">
            <form>
                <div class="d-flex centrar">
                    <img src="{% static 'core/img/audio.png' %}" >
                </div>
                <div class="d-flex" style="margin-left:88px; margin-top:10px">
                    <audio src="{% static 'core/audio/la_letra_diferente.wav' %}" controls autoplay>
                    </audio>
                </div>
            </div>


{% endblock %}

{% block siguiente %} <a  type="submit"  class="btn float-right btn-outline-primary mr-3"  href="{% url 'testDislex21' %}"  role="button">Avanzar</a> {%endblock%}
