{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}Prueba{% endblock %}
{% block estilo %} <link rel="stylesheet" href="{% static 'core/estilos/estiloTest.css' %}"> {% endblock %}
{% block home %}

<div class="loginBg" >
    <div class="container" onload="setTimeout(myFunction, 10000)">
        <div class="d-flex justify-content-center h-100">
            <div class="card">


{% block contentidoTest %}  {% endblock %}

                        <!---boton-->
        
                        <div class="form-group">
                        {% block siguiente %}    {%endblock%}
                         
                        </div>
                    </form>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <a href="#">Ayuda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}