{% extends 'prueba/baseTest.html' %}
{%load static %}
{% block contentidoTest %}

<div class="card-header">
    <h3>Prueba 1</h3>
    </div>
        <div class="card-body">
            <form>
                <div class="container-p12">
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">tla</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">alb</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">ala</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">pal</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">pra</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">gri</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">dra</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">fla</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">bra</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">bla</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">bal</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">alb</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">gla</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">alb</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">alb</a>
                <a href="{% url 'testDislex13' %}" type="button" class="btnTest btn btn-outline-primary">alb</a>
                </div>
            </div>


{% endblock %}