{% extends 'prueba/baseTest.html' %}
{%load static %}
{% block contentidoTest %}

<div class="card-header">
    <h3>Prueba 3</h3>
    </div>
        <div class="card-body">
            <form>
                <div class="container-p31">
                    <h1><pre>ha_e</pre></h1>
                </div>
                <div  class="container-p312">
                 <a href="{% url 'audio4' %}" type="button" class="btnTest2 btn btn-outline-primary">f</a>
                <a href="{% url 'audio4' %}" type="button" class="btnTest2 btn btn-outline-primary">z</a>
                <a href="{% url 'audio4' %}" type="button" class="btnTest2 btn btn-outline-primary">p</a>
                <a href="{% url 'audio4' %}" type="button" class="btnTest2 btn btn-outline-primary">c</a>
                <a href="{% url 'audio4' %}" type="button" class="btnTest2 btn btn-outline-primary">q</a>
                <a href="{% url 'audio4' %}" type="button" class="btnTest2 btn btn-outline-primary">s</a>
               </div>
            
            
            </div>


{% endblock %}